<div [style.opacity]="!active ? '0' : '1'" [style.z-index]="!active ? '-1' : '100'" id="page_prldr">
  <span [style.opacity]="!active ? '0' : '1'" [style.z-index]="!active ? '-1' : '100'"  id="svg_anm"></span>
</div>
<app-headline (openedSearch)="openAddComponent($event)"></app-headline>
<div class="content">
  <div class="main-container">
    <app-add-options *ngIf="openedSearch"></app-add-options>
    <!--<app-event-group></app-event-group>-->
    <router-outlet></router-outlet>
  </div>
</div>
