.page_button{
  background-size: 100%;
  cursor: pointer;
  top: 0;
  border: none;
  text-indent: -9999px;
  padding: 1rem 1.3rem;
}

.previous {
  background: url("./left-arrow.png") no-repeat;
  background-size: 100%;
}

.next {
  background: url("./right-arrow.png") center no-repeat;
  background-size: 100%;
  float:right;
}

.events__title{
  font-size: 3em;
  margin:0.5rem auto;
  text-align: center;
  color: #eeeeee;
  width: 100%;
}
