<div *ngIf="data" class="event">
  <div class="event__photo">
    <div class="photo__container">
      <span class="photo__data"><span class="day">{{day}}</span><br><span class="month">{{month}}</span></span>
      <img class="photo__image" alt="photo" src="{{image}}">
    </div>
  </div>
  <div class="event__preview">
    <div class="event__title">
      <h4>{{title}}</h4>
    </div>
    <div class="event__venues">
      <span>{{venues}}</span>
    </div>
    <div class="event__descrip">
      <p>{{description}}</p>
    </div>
    <div class="event__classifications">
      <p>{{classifications}}</p>
    </div>
    <div class="event__date">
      <span class="date"></span>{{date}}<span> at </span><span class="time">{{time}}</span>
    </div>
  </div>
</div>
<a class="back" (click)="goBack()"></a>
